<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="defualtPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />
    <encoder>
        <pattern>${defaultPattern:-}</pattern>
    </encoder>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
